# .env.example
# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://mdfixikuanonexmoztpw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1kZml4aWt1YW5vbmV4bW96dHB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwOTMwNTYsImV4cCI6MjA4ODY2OTA1Nn0.NdBrQCnzQ_gSoiO3LaniejqXCPsUrVQ5ra1aMS9qDw4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1kZml4aWt1YW5vbmV4bW96dHB3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzA5MzA1NiwiZXhwIjoyMDg4NjY5MDU2fQ.PRsWVLeoGfZQ0msUte5gl6z_zko8oCqwe53vsYbBuJw

# PAYSTACK
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_...
PAYSTACK_SECRET_KEY=sk_test_...

# RESEND
RESEND_API_KEY=re_...

# SECURITY
CREDENTIALS_ENCRYPTION_KEY=32_byte_aes_256_key_here